<% if @pizza.errors.any? %>
  <ul class="errors">
    <% @pizza.errors.each do |column, message| %>
      <li>
        <strong><%= column.capitalize %></strong> <%= message %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @pizza, class: 'form-pizza' do |f| %>
  <p>Please provide the following information about your pizza:</p>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :crust %>
  <%= f.select :crust, ['thin', 'deep-dish', 'thick'] %>

  <%= f.label :sauce %>
  <%= f.text_field :sauce %>

  <%= f.label :cheese %>
  <%= f.text_field :cheese %>

  <%= f.label :toppings %>
  <%= f.text_field :toppings %>

  <%= f.submit "Submit", class: "pizza-button" %>
<% end %>