
<body >
<h2 class="title">Pizza Page</h2>

<h3 class="title">Thin Pizza</h2>
<table>                         
  <tr>                          
    <th>Name</th>
    <th>Crust</th>
    <th>Sauce</th>
    <th>Cheese</th>
    <th>Toppings</th>
    <th>Vote Count</th>
  </tr>
  <% Pizza.pizzas_by_crust("thin").each do |pizza| %>  
      <tr>
        <td><%= pizza.name %></td>
        <td><%= pizza.crust %></td>  
        <td><%= pizza.sauce %></td>  
        <td><%= pizza.cheese %></td>  
        <td><%= pizza.toppings %></td>
        <td><%= pizza.votes.count %></td> 
        <td><%= link_to "Pizza Details", pizza_path(pizza.id), :method => :get%>  </td>
        <td><%= link_to "Edit Pizza", edit_pizza_path(pizza.id), :method => :get%></td>
      </tr>
  <% end %>                     
  </table>

<h3 class="title">Deep-Dish Pizza</h2>
<table>                         
  <tr>                          
    <th>Name</th>
    <th>Crust</th>
    <th>Sauce</th>
    <th>Cheese</th>
    <th>Toppings</th>
    <th>Vote Count</th>
  </tr>
  <% Pizza.pizzas_by_crust("deep-dish").each do |pizza| %>  
      <tr>
        <td><%= pizza.name %></td>
        <td><%= pizza.crust %></td>  
        <td><%= pizza.sauce %></td>  
        <td><%= pizza.cheese %></td>  
        <td><%= pizza.toppings %></td>
        <td><%= pizza.votes.count %></td> 
        <td><%= link_to "Pizza Details", pizza_path(pizza.id), :method => :get%>  </td>
        <td><%= link_to "Edit Pizza", edit_pizza_path(pizza.id), :method => :get%></td>
      </tr>
  <% end %>                     
  </table>

<h3 class="title">Thick Pizza</h2>
<table>                         
  <tr>                          
    <th>Name</th>
    <th>Crust</th>
    <th>Sauce</th>
    <th>Cheese</th>
    <th>Toppings</th>
    <th>Vote Count</th>
  </tr>
  <% Pizza.pizzas_by_crust("thick").each do |pizza| %>  
      <tr>
        <td><%= pizza.name %></td>
        <td><%= pizza.crust %></td>  
        <td><%= pizza.sauce %></td>  
        <td><%= pizza.cheese %></td>  
        <td><%= pizza.toppings %></td>
        <td><%= pizza.votes.count %></td> 
        <td><%= link_to "Pizza Details", pizza_path(pizza.id), :method => :get%>  </td>
        <td><%= link_to "Edit Pizza", edit_pizza_path(pizza.id), :method => :get%></td>
      </tr>
  <% end %>                     
  </table>

</body>