<div class="pizza_card">
  <h1><%= @pizza[:name]%></h1>
  <br>
  <h4>Crust:</h4>
  <p><%= @pizza[:crust]%></p>
  <h4>Sauce:</h4>
  <p><%= @pizza[:sauce]%></p>
  <h4>Cheese:</h4>
  <p><%= @pizza[:cheese]%></p>
  <h4>Toppings:</h4>
  <p><%= @pizza[:toppings]%></p>
    <h4>Votes:</h4>
  <p>
      <%= @pizza.votes.to_a.count %>
  </p>
  <h4>Temperature:</h4>
  <% if @pizza.temperatures[0].class != NilClass %>
    </p><%= @pizza.temperatures[0].name %></p>
  <% else %>
    <%= form_with model: @pizza, class: 'form-pizza' do |f| %>
      <p>Please provide the following information about your pizza:</p>
        <%= f.label :temperatures %>
        <%= f.collection_check_boxes :temperature_ids, Temperature.all, :id, :name %>
      <%= f.submit "Submit", class: "pizza-button" %>
    <% end %>
  <% end %>
</div>

<div class="button-row"> 
  <%= button_to "Upvote Pizza", upvote_path(@pizza.id), method: :patch, class: 'btn btn-primary' %>
  <%= button_to "Edit Pizza", edit_pizza_path(@pizza.id), :method => :get, class: 'btn btn-primary' %>
  </div>  <div class="button-row">
  <%= button_to "Delete", pizza_path(@pizza.id),:method => :delete, class: 'link', data: {confirm: "Are you sure you would like to delete #{@pizza.name}?"} %>
  <%= button_to "Return to Pizza List", pizzas_path, :method => :get, class: 'link' %>
</div> 
