
<main>
<section>
  <h2><%= @pizza[:name]%></h2>
  <br>
  <p>Crust: <%= @pizza[:crust]%></p>
  <p>Sauce: <%= @pizza[:sauce]%></p>
  <p>Cheese: <%= @pizza[:cheese]%></p>
  <p>Toppings: <%= @pizza[:toppings]%></p>
</section>

<section class="btn-row"> 
  <%= button_to "Upvote Pizza", upvote_path(@pizza.id), method: :post, class: 'btn btn-primary' %>
  <%= button_to "Edit Pizza", edit_pizza_path(@pizza.id), :method => :get, class: 'btn btn-primary' %>
  <%= button_to "Delete", pizza_path(@pizza.id),:method => :delete, class: 'btn btn-danger', data: {confirm: "Are you sure you would like to delete #{@pizza.name}?"} %>
  <%= button_to "Return to Pizza List", pizzas_path, :method => :get, class: 'btn btn-primary' %>
</section>

<section class="works-votes__container">
<h3 class="works-votes__header"><%= @pizza.votes.count %> votes for this <%= @pizza.crust %> pizza</h3>

<% if ! @pizza.votes.empty? %> 
  <table class="table">                         
    <thead>
      <tr>                          
        <th>Username</th>
        <th>Date</th>
      </tr>
    </thead>
  
    <% @pizza.votes.each do |vote| %>  
      <tbody>
        <tr>
          <td><%= link_to User.find_by(id: vote.user_id).name, user_path(vote.user_id) %></td>
          <td><%= vote.created_at.strftime("%m/%d/%Y") %></td>  
        </tr>
      </tbody>
    <% end %>                    
  </table>
<% end %>  
</section>      
</main>
