<%= form_with model: @user, url: login_path do |f| %>
  <section class="flash-msg__section">
    <% flash.each do |name, message| %>
      <strong class="<%= name %>">
        <%= message %>
      </strong>
    <% end %>
  </section>

  <div>
    <%= f.label :username %>
    <%= f.text_field :username %>
  </div>
    <%= f.submit "Login", class: 'btn btn-primary' %>
<% end %>

