<%= form_with model: @user, local: true, class: 'login__form', url: login_path do |f| %>
  <section class="flash-msg__section">
    <% flash.each do |name, message| %>
      <strong class="<%= name %>">
        <%= message %>
      </strong>
    <% end %>
  </section>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.submit "Login" %>
<% end %>