<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<div class="all">
<header>
    <h1>Pizza Ranker</h1>
  </header>
  <body>
  <header>
    <nav class="mainnav">
      <ul class="navtitles">
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'Add a Pizza', new_pizza_path %></li>
        <li><%= link_to 'All Pizzas', pizzas_path %></li>
        <li><%= link_to 'All Users', users_path %></li>
        <li><%= link_to "Login", login_path %></li>
      </ul>
    </nav>
    <div class="btn btn-info">
      <% if session[:user_id] %>
        <%= link_to "Log out from #{User.find_by(id: session[:user_id]).name}", logout_path, method: :post, :class => "btn" %>
      <% else %>
        <%= render partial: "users/form", locals: { action_name: "Edit" } %>
      <% end %>
    </div>
  </header>
    <section class="flash-msg__section">
    <% flash.each do |name, message| %>
      <strong class="<%= name %>">
        <%= message %>
      </strong>
    <% end %>
  </section>
    <%= yield %>
  </body>
  <footer>
    <p><i>Always read the fine print.</i></p>
  </footer>
</html>

