<!DOCTYPE html>
<html class="js-focus-visible">
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<body>
<header class="app-header__header">
    <h1>
      <%= link_to 'Pizza Ranker', root_path%>
      <small>Ranking the Best of Everything</small>
    </h1>
    

    <nav class="app-header__nav">
      <ul class="nav app-header__site-nav-container">
        <li class="nav-item app-header__nav_item"><%= link_to 'Home', root_path, :class => "nav-link"%></li>
        <li class="nav-item app-header__nav_item"><%= link_to 'Add a Pizza', new_pizza_path, :class => "nav-link" %></li>
        <li class="nav-item app-header__nav_item"><%= link_to 'All Pizzas', pizzas_path, :class => "nav-link" %></li>
        <li class="nav-item app-header__nav_item"><%= link_to 'All Users', users_path, :class => "nav-link" %></li>
      </ul>
      <ul class="nav app-header__site-nav-container"">
        <li class="nav-item app-header__nav_item">
            <div>
              <% if session[:user_id] %>
                <%= link_to "Log out from #{User.find_by(id: session[:user_id]).name}", logout_path, method: :post, :class => "btn btn-primary" %> 
              <% else %>
                <%= render partial: "users/form", locals: { action_name: "Edit" } %>
              <% end %>
            </div>
        </li> 
      </ul>
    </nav>
  </header>
    <section class="flash-msg__section">
    <% flash.each do |name, message| %>
      <strong class="<%= name %>">
        <%= message %>
      </strong>
    <% end %>
  </section>
    <%= yield %>
  <footer>
    <p><i>Always read the fine print.</i></p>
  </footer>
</body>
</html>

